/*
    Put anything you reference with "url()" in ../assets/
    This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
 /*   margin: 16px;
    border-radius: 4px;
    background-color: silver;
    padding: 16px;*/
}
body {
        color: white;
        background: #555;
}
.panels > * {
        width: 240px;
        box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
        background: #555;
}

.toc-item {
        position: relative;
        border-bottom: 1px solid #0E0E0E;
        padding: 12px 16px;
        background-color: #333333;
}

.news-item, .tweet {
        position: relative;
        border-bottom: 1px solid #0E0E0E;
        padding: 12px 16px;
/*         background-color: #333333; */
}

.toc-item.onyx-selected {
        background-color: MidnightBlue;
}